@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.container {
  padding-inline: 1.6rem;
  margin-inline: auto;
  max-width: 120rem;

  @include mx.breakpoint(tablethorizontal) {
    padding-inline: 2.5rem;
  }
}